name: AWS OIDC Demo

on:
  workflow_dispatch:

permissions:
  id-token: write     # required for OIDC
  contents: read      # required to checkout the repo

jobs:
  aws-oidc-test:
    runs-on: ubuntu-latest

    steps:
      - name: Show value
        run:  echo "arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/aprudencio-cr-github-role"
      - name: Show value
        run:  echo "arn:aws:iam::${{ vars.AWS_ACCOUNT_ID_VAR }}:role/aprudencio-cr-github-role"
        
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/aprudencio-cr-github-role
          aws-region: us-east-1

      - name: Verify identity
        run: aws sts get-caller-identity
        
